/* 기초 공사 */
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 전체메뉴 설정 */
.all_menu {
  width: 100%;
  height: 181px;
  display: flex;
  flex-direction: column;
}

/* 상단메뉴 설정 */
.top_menu {
  width: 100%;
  height: 34px;
  background: #555;
}
.top_menu ul {
  width: 95%;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.top_menu ul li a {
  display: block;
  font-size: 13px;
  color: white;
  padding: 8px 10px;
  border-left: 1px solid white;
}

/* 중단메뉴 설정 */
.mid_menu {
  width: 100%;
  height: 97px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #555;
}
.logo {
  display: block;
  margin: 0 50px;
}
.search_box {
  width: 380px;
  display: block;
  position: relative;
  border: 3px solid #a06b0d;
}
.search_box input {
  display: block;
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}
.search_btn a {
  width: 58px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 44px;
  color: white;
  text-align: center;
  background: #a06b0d;
}
.icon {
  display: block;
  margin: 0 30px;
}
.icon a {
  margin: 0 5px;
}

/* 하단메뉴 설정 */
.bot_menu {
  width: 100%;
  height: 50px;
  background: white;
}
.bot_menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bot_menu ul li a {
  display: block;
  text-align: center;
  font-weight: 800;
  line-height: 50px;
  font-size: 16px;
  color: black;
  padding: 0 50px;
}
.bot_menu ul li a:hover {
  background: #a06b0d;
  color: white;
}

/* 반응형 */

@media (max-width: 1000px) {
  .all_menu {
    display: none;
  }
}
