<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springex.mapper.TodoMapper">

<!--    <select id="getTime" resultType="string">-->
<!--        select now()-->
<!--    </select>-->

<!--    <insert id="insert">-->
<!--        insert into tbl_todo (title, dueDate, writer) values (#{title}, #{dueDate}, #{writer})-->
<!--    </insert>-->

<!--    <select id="selectAll" resultType="com.springex.domain.TodoVO">-->
<!--        select * from tbl_todo order by tno desc-->
<!--    </select>-->

<!--    <select id="selectOne" resultType="com.springex.domain.TodoVO">-->
<!--        select * from tbl_todo where tno = #{tno}-->
<!--    </select>-->

<!--    <delete id="delete">-->
<!--        delete from tbl_todo where tno = #{tno};-->
<!--&#45;&#45;         마이바티스는 변수명을 #으로 인식한다.-->
<!--    </delete>-->

<!--    <update id="update">-->
<!--        update tbl_todo set title = #{title}, dueDate = #{dueDate},-->
<!--                            finished = #{finished} where tno = #{tno}-->
<!--    </update>-->

<!--    types라는 이름을 collection으로 받았다-->
<!--    collection이란? get set 같은 친구들-->
<!--    #으로 변수처리? - Mybatis만의 언어-->
<!--    like = 포함 , like *스*-->
    <select id ="selectList" resultType="com.springex.domain.TodoVO">
        select * from tbl_todo
        <where>
            <if test="types !=null and types.length > 0">
                <foreach collection="types" item = "type" open="(" close=")" separator=" OR">
                    <if test="type =='t'.toString()">
                        title like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type =='w'.toString()">
                        writer like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
            <if test="finished">
                <!-- where과 비슷함 -->
                <!-- 필요한 문자열 생성 혹은 제거할 수 있음 -->
                <trim prefix="and">
                    finished = 1
                </trim>
            </if>
        </where>
        order by tno desc limit #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        select count(tno) from tbl_todo
    </select>
</mapper>